@use 'variables' as *;
@use '@styles/spacing' as *;
@use '@styles/mixins' as *;
@use "sass:color";

.main-header {
  padding: $spacing-md 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: $spacing-lg;
}

.main-header__title--blue {
  color: $blue;
  font-size: 68px;
}

.main-header__title--orange {
  color: $orange;
  font-size: 60px;
}

.main-header__menu ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-header__menu a {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  padding: $spacing-sm $spacing-sm;
  color: $gray;
  font-size: 22px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.main-header__menu a:hover {
  background-color: $blue;
  color: #fff;
  text-decoration: underline;
}

.badge-carrinho {
  font-size: 0.75rem;
  background-color: purple;
  padding: 2px 6px;
  border-radius: 12px;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
  color: blueviolet;
}

.search-form {
  height: 56px;
  display: flex;
  align-items: center;
  gap: $spacing-sm;
  margin-top: $spacing-md;
}

.search-form input {
  box-sizing: border-box;
  height: 56px;
  padding: 0 $spacing-md;
  flex: 1;
  background-color: $light-gray;
  color: $gray;
  border: none;
  font-size: 22px;
  box-shadow: 0 7px 9px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
}

.search-form button {
  width: 56px;
  height: 56px;
  background-color: $blue;
  border: none;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
}

.search-form button:hover {
  background-color: color.scale($blue, $lightness: -10%);
}

.main-header i,
.footer i {
  color: $orange;
}
