// Importa variáveis globais
@use '@styles/variables' as *;
@use '@styles/spacing' as *;

.footer {
  background-color: $light-gray;
  color: $gray;
  font-size: 18px;
  box-shadow: 0px -70px 70px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, $light-gray, $light-gray-2);
}

.footer__container {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  padding: $spacing-md; // antes: 20px
}

.footer__container > div {
  flex: 1;
  min-width: 250px;
  margin: $spacing-sm; // antes: 10px
  background-color: $light-gray-2;
  padding: $spacing-xs; // antes: 8px
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.footer__copyright {
  text-align: center;
  margin-top: $spacing-md; // antes: 20px
  background-color: $light-gray-2;
  font-weight: bold;
  padding: $spacing-md; // antes: 20px
  color: $gray;
}

.footer__title {
  font-size: 22px;
  font-weight: bold;
  color: $blue;
  margin-bottom: $spacing-xs; // antes: 5px
  background-color: $light-gray-2;
  padding: $spacing-xs; // antes: 10px
  border-radius: 9px;
  box-shadow: -2px 89px 9px rgba(0, 0, 0, 0.1);
}

.footer__about-text {
  width: 400px;
  text-align: justify;
}

.footer i {
  font-size: 20px;
  margin-right: $spacing-xs; // antes: 8px
  color: $orange;
}

.footer li {
  margin: $spacing-sm 0; // antes: 10px 0
  background-color: $light-gray-2;
  padding: $spacing-xs; // antes: 8px
  border-radius: 9px;
  box-shadow: -2px 89px 9px rgba(0, 0, 0, 0.1);
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

address {
  background-color: $light-gray-2;
  padding: $spacing-sm; // antes: 15px
  border-radius: 6px;
}

/* Ícones específicos */
i.fa-envelope,
i.fa-whatsapp,
i.fa-phone {
  color: $orange;
}
