@use '@styles/variables' as *;

.mensagem-erro {
  color: $error;
  font-size: 0.85rem;
  margin-top: 4px;
}

input.valid,
textarea.valid {
  border: 2px solid $success;
}

input.invalid,
textarea.invalid {
  border: 2px solid $error;
}

.contador-caracteres {
  font-size: 0.85rem;
  margin-top: 4px;
  color: #555;

  &.alerta {
    color: $warning;
  }

  &.limite {
    color: $error;
  }
}
