@use '@styles/variables' as *; // importa as variáveis globais

.product-item__price {
  color: $error; // usa a variável Sass
  font-size: 32px;
  font-weight: bold;
}

.product-list {
  padding: 40px 0;
  width: fit-content;    
  display: flex;
  gap: 20px;
  flex-flow: row wrap;  
  justify-content: space-evenly;
  align-content: center;  
}

.product-list__card {
  box-sizing: border-box;
  padding: 10px;
  border-radius: 4px;
  flex: 0 7 27px;
  height: 450px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;       
}

.product-list__card:hover {
  outline: 1px solid $blue; // agora usa variável Sass
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.product-list__link {
  display: flex;
  flex-direction: column;    
  align-items: center;
  row-gap: 9px; 
  text-decoration: none;
}

.product-list__card img {
  height: 250px;
  width: 250px;    
  display: block;
  border-radius: 4px;
}

.product-item__name {
  font-size: 24px;
  color: $blue; // variável Sass
}

.product-item__price {
  color: $orange; // variável Sass
  font-size: 24px;
  font-weight: bold;
  margin-top: -22px;
}

.product-item__price-description {
  color: $gray;
  font-size: 18px;
  font-weight: bold;
  margin-top: -17px;
}

.product-item__buy-button {
  background-color: $blue;
  border: none;
  color: white;
  font-size: 20px;
  padding: 8px 18px;
  margin-top: -27px;
}

.product-item__buy-button:hover {
  filter: brightness(1.1);
  cursor: pointer;
}

.produto-list {
  display: flex;
  flex-wrap: wrap; // permite quebrar linha se não couber 
  gap: 20px; /* espaço entre os "cards" */
  justify-content: center; /* centraliza os itens */
}

.produto-list__card {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
