//cores fontes

$blue-gray: #e67d7d;
$orange: #ff9800;
$gray: #000000;
$light-gray: #f2f2f2;
$light-gray-2: #e0e0e0;
$dark-blue: #003366;
$red: #ff0000;
$success: #28a745;
$error: #dc3545;
$warning: #ff9800;
$white: #ffffff;
$blue: #007bff;
