@use '@styles/variables' as *;

.container-menu {
   display: flex;
   flex-direction: column;
   row-gap: $spacing-md; // exemplo de variavel , anterior: 20 px 
   padding: 16px;
   min-height: 100vh;

   @media (max-width: 768px) {
     flex-direction: row;
     row-gap:0;
     column-gap: $spacing-sm;
  }
}