//importa variaveis e espaçamentos globais 
@use'@styles/variables' as *;
@use '@styles/spacing' as *;

.product__container {
 display: flex;
 column-gap: $spacing-md; // antes: 20px
 margin: $spacing-md 0; //antes: 20px 0
}

.product__container img {
 width: 350px;
 height: 350px;
}

.product__name {
  font-size: 36px;
}

.product__price {
  font-size: 28px;
  font-weight: 400;
  margin: $spacing-md 0; //antes: 20px 0 20px
}
.product-description__container {
  border: 1px solid $light-gray; // antes: var(--light-gray)
  border-radius: 8px;
  padding: $spacing-sm;
  flex: 1;
}

.product__availability {
 font-size: 12px;

}

label {
   margin: $spacing-md 0; //antes:20px 0
   display: block;
}
input {
  width: 30px;
  padding: $spacing-xs; //antes: 5px

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance:textfield;
}

button {
  background-color: $blue; // antes: var(--blue)
  border: none;
  padding: $spacing-sm; //antes: 10px
  color: $white;
  font-size: 24px;
  transition: all 0.3s ease-in-out;
  margin: $spacing-md 0; //antes: 20 0
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
    filter: brightness(1.3);
    }





